<script>
    $(document).ready(function () {
        var div_left = $('#div_left').w2sidebar({
            name: 'div_left',
            img: null,
            nodes: [
                {
                    id: 'jxc_info', text: '信息管理', img: 'icon-folder',
                    nodes: [
                        {id: 'jxc_info_product', text: '商品信息', img: 'icon-page'},
                        {id: 'jxc_info_color', text: '颜色信息', img: 'icon-page'},
                        {id: 'jxc_info_size', text: '尺码信息', img: 'icon-page'}
                    ]
                },
                {
                    id: 'jxc_procure', text: '采购管理', img: 'icon-folder',
                    nodes: [
                        {id: 'level-2-2', text: '产品管理', img: 'icon-page'},
                        {id: 'level-2-3', text: '产品采购', img: 'icon-page'}
                    ]
                },
                {
                    id: 'jxc_sales', text: '销售管理', img: 'icon-folder',
                    nodes: [
                        {id: 'level-3-1', text: 'Level 3.1', img: 'icon-page'},
                        {id: 'level-3-2', text: 'Level 3.2', img: 'icon-page'},
                        {id: 'level-3-3', text: 'Level 3.3', img: 'icon-page'}
                    ]
                },
                {
                    id: 'jxc_store', text: '库存管理', img: 'icon-folder', expanded: true,
                    nodes: [
                        {id: 'jxc_store_show', text: '管理库存', img: 'icon-page'},
                        {id: 'jxc_store_add', text: '添加产品', img: 'icon-page'},
                    ]
                },
            ],
            onClick: function (event) {
                console.log(event.target);
            }
        });
        w2ui['layout'].content('left', div_left);
    });
</script>